{% extends "base.html" %}
{% load book_aggregator_tags %}
{% block title %}Ваши книги{% endblock %}
{% block content %}
<div class="d-flex flex-direction-row align-items-center">
    <h4 class="me-3">Избранное</h4>
    <a href="{% url "accounts:favourite_books" %}" class="mb-1" style="text-decoration: none;">Посмотреть все</a>
</div>
<ul class="ms-2 d-flex flex-direction-row flex-wrap p-0 mt-3">
    {% for book in favourite_books %}
        <li style="list-style-type: none; margin-right: 1em;">
            <a href="{{ book.get_absolute_url }}" class="card" style="width: 10rem; text-decoration: none; color: black;  overflow: hidden; height: 260px;">
                <img src="{{ book.image_url }}" class="card-img-top" style="max-height: 200px;">
                <div class="card-body p-1">
                    <p class="card-title mt-1" style="line-height: 16px; font-size: 14px; font-weight: 600;">{{ book.name|truncatechars:25 }}</p>
                </div>
            </a>
        </li>
    {% empty %}
        <div class="d-flex justify-content-center align-items-center m-auto" style="font-size: 2rem;">
            Вы еще не добавили книги в избранное
        </div>
    {% endfor %}
</ul>
<div class="d-flex flex-direction-row align-items-center">
    <h4 class="me-3">Ваши отзывы</h4>
    <a href="{% url "accounts:favourite_books" %}" class="mb-1" style="text-decoration: none;">Посмотреть все</a>
</div>
<ul class="ms-2 d-flex flex-direction-row flex-wrap p-0 mt-3">
    {% for book in commented_books %}
        <li style="list-style-type: none; margin-right: 1em;">
            <a href="{{ book.get_absolute_url }}" class="card" style="width: 10rem; text-decoration: none; color: black;  overflow: hidden; height: 260px;">
                <img src="{{ book.image_url }}" class="card-img-top" style="max-height: 200px;">
                <div class="card-body p-1">
                    <p class="card-title mt-1" style="line-height: 16px; font-size: 14px; font-weight: 600;">{{ book.name|truncatechars:25 }}</p>
                </div>
            </a>
        </li>
    {% empty %}
        <div class="d-flex justify-content-center align-items-center m-auto" style="font-size: 2rem;">
            Вы еще не оставляли отзывов
        </div>
    {% endfor %}
</ul>
{% endblock %}