{% extends "base.html" %}
{% block title %}{{ book.name }}{% endblock %}
{% block content %}

<form action="{% url 'book_aggregator:comment' book.url %}" method="post" class="ms-5 me-5">
    {% csrf_token %}
    <div class="row">
        <div class="mt-2">
            <span class="rating">
                {% for k, v in rating_form.fields.star.choices %}
                    <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                    <label for="rating{{ v }}">{{ k }}</label>
                {% endfor %}
            </span>
            <div class="mt-2">
                {{ form.body }}
            </div>
            <div class="d-flex flex-direction-row justify-content-between align-items-center">
                <input type="submit" class="btn btn-outline-primary mb-3 mt-2" name="comment_add" value="Отправить">
                {% if have_comment %}
                    <input type="submit" class="btn btn-outline-danger mb-3 mt-2" name="comment_delete" value="Удалить">
                {% endif %}
            </div>
        </div>
    </div>
</form>

{% endblock %}